.anouncementtop{
align-items: center;
    display: flex;
    justify-content: space-between;
}
.anouncement_card{
flex-direction: column;
  
    display: flex;
    justify-content: space-between;

}
.anouncement{
    color: #333;
    background-color: white;
padding: 10px;
}
.content_anounce{
margin: 10px;
 flex-direction: row;
 
    display: flex;
    justify-content: space-between;

}
.time_anounce{
    margin: 10px;
 border-right: 1px solid rgb(231, 69, 69);
    padding: 10px;
       display: flex;
       justify-content: space-between;
color: green;
}
