
.carousel-indicators >button {
    border-radius:50% !important;
width: 20px !important;
height: 20px !important;
}
.carousel-control-next-icon{
background-image: none !important;

}
.carousel-control-prev-icon{
    background-image: none !important;
    
    }
    .carosel{
position: relative;
    
    }
    
