.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
height: 660px;

}
.login_right>img{
width: 500px;
height: 500px;

}
.login_left_top>img{
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 50%;
    }
    .login_left{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
flex-direction: column;
    }
    .login_left_middle{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        color: #333;
        font-size: 28px;

    }
    .login_left_bottom{
        display: flex;

        justify-content: center;
        margin: 10px;
        color: gray;
     flex-direction: column;

    }
    .login_left_bottom>input{
      width: 400px;
border: 1px solid lightgray;
outline-width: 0;
margin: 10px;
border-radius: 10px;
height: 40px;
    }
    .login_left_bottom>button{
     color: white;
  border: 1px solid lightgray;
  outline-width: 0;
  margin: 10px;
  border-radius: 10px;
  height: 40px;
  background-color: #2196f3;
      }

      .login_left_footer>button{
display: flex;
align-items: center;
border: 1px solid lightgray;
outline-width: 0;
margin: 4px;
width: 300px;
border-radius: 10px;
      }
      .login_left_footer>button>img{
      height: 30px;
        width: 30px;
              }
              .login_left_footer>button>p{
            margin: 10px;

                        }
          