.contactform{
display: flex;
border-radius: 10px;
margin: 20px;
background: rgb(14,14,91);
background: linear-gradient(90deg, rgba(14,14,91,0.7903536414565826) 100%, rgba(0,212,255,1) 100%);
align-items: center;
justify-content: center;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.emails{
display: flex;
flex-direction: column;
width: 300px;
margin: 10px;
}
.emails>h1{
color: white;

}